@media screen and (max-width: 700px) {

    section {
        padding: 3rem 2rem;
        margin: 0;
    }

    #profile {
        flex-direction: column;
        text-align: center;
    }

    .section__pic-container {
        width: 250px;
        height: 250px;
    }

    .about-containers {
        flex-direction: column;
    }

    .article-container {
        justify-content: center;
    }
     .footer-links {
        flex-direction: column;
        text-align: center;
        gap: 0.8rem;
    }

    .footer-icon {
        height: 1.7rem;
    }
}
