
@media screen and (max-width: 700px) {

    section {
        padding: 3rem 2rem;
        margin: 0;
    }

    #profile {
        flex-direction: column;
        text-align: center;
    }

    .section__pic-container {
        width: 250px;
        height: 250px;
    }

    .about-containers {
        flex-direction: column;
    }

    .article-container {
        justify-content: center;
    }
     .footer-links {
        flex-direction: column;
        text-align: center;
        gap: 0.8rem;
    }

    .footer-icon {
        height: 1.7rem;
    }
}

.hero__greeting {
    animation: fadeDown 0.8s ease forwards;
}

.hero__name {
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.1s;
}

.hero__role {
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.2s;
}

.hero__description {
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.3s;
}

.hero__actions {
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.4s;
}

.hero__socials {
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.5s;
}

.hero__image {
    animation: fadeInScale 1s ease forwards;
    animation-delay: 0.6s;
}


@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* =========================
   ABOUT ANIMATIONS
   ========================= */

.about .section__pic-container,
.about .details-container,
.about .text-container {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.about.show .section__pic-container {
    opacity: 1;
    transform: translateY(0);
}

.about.show .details-container {
    opacity: 1;
    transform: translateY(0);
}

.about.show .text-container {
    opacity: 1;
    transform: translateY(0);
}

/* ARROW BOUNCE */

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
}
